.card {
   
    border-radius: 2px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
    justify-content: center;
}

.card>.img-container {
   
    text-align: center;
    margin: 20px;   
}

.card>.img-container>img {
    width: 150px;   
}